In [53]:
import pandas as pd
import numpy as np
import re

#data loading
pth = "forecast_history.xlsx"
data = pd.read_excel(pth)
data

,Unnamed: 0,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
0,2011,340000,0.56,0.23,-0.20
1,2012,370000,0.53,34.00,-0.80
2,2013,350000,NaN,0.19,-0.70
3,2014,420000,0.13,0.42,-0.80
4,2015,425000,0.33,0.23,-0.50
5,2016,500000,-0.05,0.15,-0.90
6,2017,520000,0.45,15.00,-0.30
7,2018,550000,0.34,0.18,NaN
8,2019,596000,0.34,0.19,-1.10
9,2020,610000,0.2,0.23,-0.90
10,2021,660000,-0.2,0.13,-0.60
11,2022,720000,0.15,0.08,-0.69
12,2023,73000,I5%,0.07,-0.80
13,2024,760O00,-0.1,-0.02,-0.80

In [54]:
# cleaning the data
def cleanData(data):
    #as the data has non numeric values we will be removing those
    data = data.replace({'\$': '', 'I': '1','%':''}, regex=True)
    data = data.apply(pd.to_numeric, errors ='coerce')
    data.fillna(0,inplace=True)
    return data

In [55]:
cols = ['Westpac: 4 year forecast', 'Joe Bloggs: 2 year forecast','Harry Spent: 5 year forecast']

df=cleanData(data)
df

,Unnamed: 0,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
0,2011,340000.0,0.56,0.23,-0.20
1,2012,370000.0,0.53,34.00,-0.80
2,2013,350000.0,0.00,0.19,-0.70
3,2014,420000.0,0.13,0.42,-0.80
4,2015,425000.0,0.33,0.23,-0.50
5,2016,500000.0,-0.05,0.15,-0.90
6,2017,520000.0,0.45,15.00,-0.30
7,2018,550000.0,0.34,0.18,0.00
8,2019,596000.0,0.34,0.19,-1.10
9,2020,610000.0,0.20,0.23,-0.90
10,2021,660000.0,-0.20,0.13,-0.60
11,2022,720000.0,0.15,0.08,-0.69
12,2023,73000.0,15.00,0.07,-0.80
13,2024,0.0,-0.10,-0.02,-0.80

In [56]:
#forecast calculation
df['Westpac'] = df['Median house price'] * (1+df['Westpac: 4 year forecast']/100)
df['Joe Bloggs'] = df['Median house price'] * (1+df['Joe Bloggs: 2 year forecast']/100)
df['Harry Spent'] = df['Median house price'] * (1+df['Harry Spent: 5 year forecast']/100)
df

,Unnamed: 0,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast,Westpac,Joe Bloggs,Harry Spent
0,2011,340000.0,0.56,0.23,-0.20,341904.0,340782.0,339320.0
1,2012,370000.0,0.53,34.00,-0.80,371961.0,495800.0,367040.0
2,2013,350000.0,0.00,0.19,-0.70,350000.0,350665.0,347550.0
3,2014,420000.0,0.13,0.42,-0.80,420546.0,421764.0,416640.0
4,2015,425000.0,0.33,0.23,-0.50,426402.5,425977.5,422875.0
5,2016,500000.0,-0.05,0.15,-0.90,499750.0,500750.0,495500.0
6,2017,520000.0,0.45,15.00,-0.30,522340.0,598000.0,518440.0
7,2018,550000.0,0.34,0.18,0.00,551870.0,550990.0,550000.0
8,2019,596000.0,0.34,0.19,-1.10,598026.4,597132.4,589444.0
9,2020,610000.0,0.20,0.23,-0.90,611220.0,611403.0,604510.0
10,2021,660000.0,-0.20,0.13,-0.60,658680.0,660858.0,656040.0
11,2022,720000.0,0.15,0.08,-0.69,721080.0,720576.0,715032.0
12,2023,73000.0,15.00,0.07,-0.80,83950.0,73051.1,72416.0
13,2024,0.0,-0.10,-0.02,-0.80,0.0,0.0,0.0

In [57]:
# function to calculate MAPE metric
def met_mape(actual_val, forecasted):
    return np.mean(np.abs((actual_val-forecasted)/actual_val)) * 100

In [59]:
westpac_mape = met_mape(df['Median house price'],df['Westpac: 4 year forecast'])
joe_mape=met_mape(df['Median house price'],df['Joe Bloggs: 2 year forecast'])
harry_mape=met_mape(df['Median house price'],df['Harry Spent: 5 year forecast'])

In [60]:
print(f'Westpac: {westpac_mape}')
print(f'Joe Bloggs: {joe_mape}')
print(f'Harry Spent: {harry_mape}')

Westpac: inf
Joe Bloggs: inf
Harry Spent: inf